@mixin box($width, $height:$width){
    width:$width;
    height:$height;
}


@mixin delays($number, $delay){
    @for $i from 1 through $number{
        .delay-#{$i}{
            animation-delay:$delay * $i * 1s;
        }
    }
}

@mixin gradiant($color){
    background: $color;
    background: linear-gradient(180deg, $color 20%, darken($color, 20%));
}