@mixin box($width, $height:$width){
    width:$width;
    height:$height;
}


@mixin delays($number, $delay){
    @for $i from 1 through $number{
        .delay-#{$i}{
            animation-delay:$delay * $i * 1s;
        }
    }
}

@mixin gradiant($color){
    background: $color;
    background: linear-gradient(180deg, $color 20%, darken($color, 20%));
}

@mixin pseudo-cover($z-index){
    content:'';
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border-radius:inherit;
    z-index:$z-index;
}

@mixin border-hack($height){
    content:'';
    position:absolute;
    left:0px;
    width:100%;
    background-color:inherit;
    height:$height;
    z-index:-1000;
}
