/* Colors */
/* BASES */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  counter-reset: badgeCounter;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

/* LAYOUTS */
.center--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pos--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin--vertical {
  margin: auto 0;
}

.margin--horizontal {
  margin: 0 auto;
}

.pos--center-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.pos--center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

.pos--center-top-corner {
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos--center-bottom-corner {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.pos--center-left-corner {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pos--center-right-corner {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.pos--top-left-corner {
  transform: translate(-50%, -50%);
}

.pos--top-right-corner {
  right: 0;
  transform: translate(50%, -50%);
}

.pos--bottom-left-corner {
  bottom: 0;
  transform: translate(-50%, 50%);
}

.pos--bottom-right-corner {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.img {
  object-fit: cover;
  user-select: none;
}

.img--heart {
  width: 23px;
  height: 23px;
}

.img--footer {
  width: 102px;
  height: 20px;
  fill: white;
}

.img--header {
  width: 168px;
  height: 30px;
}

.img--background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
  z-index: -1000;
}

.horizontal {
  width: 100%;
}

.vertical {
  height: 100%;
}

.round {
  border-radius: 50%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.grid {
  display: grid;
}

.l-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "left" "right";
  background-color: white;
  margin-bottom: 221px;
}
.l-header__left, .l-header__right {
  justify-content: center;
  padding: 16px 0;
}
.l-header__left {
  align-items: center;
  grid-area: left;
  z-index: 2;
  box-shadow: 0 2px 15px #CECECE;
}
.l-header__arrow {
  left: 23px;
}
.l-header__right {
  grid-area: right;
  background-color: #EAEAEA;
  z-index: 1;
}

.l-center {
  width: 90.6666666667%;
  margin: 0 auto;
}

.l-menu {
  padding-top: 60px;
  padding-bottom: 85px;
  display: block;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 20px 20px 0 0;
}
.l-menu__header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.l-menu__wrapper {
  max-width: 425px;
}
.l-menu__grid {
  grid-template-columns: minmax(0px, auto);
  grid-auto-rows: auto;
  grid-row-gap: 40px;
  margin-bottom: 50px;
}
.l-menu__title {
  margin-bottom: 14px;
}
.l-menu__category {
  width: 100%;
}
.l-menu__choice {
  margin-bottom: 16px;
}

.l-footer {
  padding-top: 48px;
  padding-bottom: 37px;
  background-color: #353535;
}
.l-footer__logo {
  margin-bottom: 23px;
}
.l-footer__link:not(:last-child) {
  margin-bottom: 11px;
}

/* COMPONENTS */
.badge--call {
  display: block;
  min-width: 186px;
  padding: 15px 10px;
  color: white;
  border-radius: 26px;
}

.badge--primary {
  background: #e771da;
  background: linear-gradient(180deg, #e771da 20%, #a15bdb 95%);
}

.badge--round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.badge--white {
  background-color: white;
}

.badge--count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #9356DC;
}
.badge--count::after {
  counter-increment: badgeCounter;
  content: counter(badgeCounter);
}

.badge--state {
  top: 13px;
  right: 13px;
  padding: 8px 15px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.badge--green {
  background-color: #99E2D0;
  color: #278870;
}

.badge--item {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  background-color: #99E2D0;
}

.hook--intro .hook__title {
  margin: 0 auto;
  width: 86%;
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}
.hook--intro .hook__description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.hook--restaurant .hook__title {
  font-size: 18px;
  line-height: 1.4;
}
.hook--restaurant .hook__description {
  font-size: 17px;
}

.hook--item, .hook--item .hook__title, .hook--item .hook__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hook--item .hook__title {
  font-size: 18px;
  margin-bottom: 6px;
}

.icon-txt {
  display: flex;
  align-items: center;
}

.icon-txt--header .icon-txt__icon {
  margin-right: 18px;
}
.icon-txt--header .icon-txt__description {
  color: #353535;
  font-weight: 500;
}

.icon-txt--post .icon-txt__icon {
  margin-right: 28px;
}
.icon-txt--post .icon-txt__description {
  font-size: 16px;
  font-weight: 500;
}

.icon-txt--footer {
  position: relative;
}
.icon-txt--footer .icon-txt__icon {
  font-size: 15px;
}
.icon-txt--footer .icon-txt__description {
  left: 27px;
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  float: right;
}

.title--section {
  font-size: 24px;
}

.title--menu {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}

.title--category {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
.title--category::after {
  content: "";
  display: block;
  margin-top: 12px;
  width: 45px;
  height: 4px;
  background-color: #99E2D0;
}

.icon--check {
  color: #99E2D0;
}

.link--footer {
  font-weight: 400;
  font-size: 15px;
}

/* COMPOSITIONS */
.item--menu {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border-radius: 16px;
  background-color: white;
  box-shadow: 2px 2px 10px #CECECE;
}
.item--menu .item__header {
  flex-grow: 1;
  margin: 10px 20px;
}
.item--menu .item__badge {
  margin-right: -70px;
  transition: margin-right ease-in-out 0.2s 0.2s;
}
.item--menu .item__round {
  transform: rotateZ(90deg);
  transition: transform ease-in-out 0.1s 0.2s;
}
.item--menu .item__price {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 10px;
}
.item--menu:hover .item__badge {
  margin-right: 0px;
}
.item--menu:hover .item__round {
  transform: rotate(0deg);
}

/* MEDIA QUERIES */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .l-menu__header {
    margin: 45px auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .l-header {
    grid-template-columns: auto 375px;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
  }
  .l-header__left {
    z-index: 2;
    padding: 32px 0;
  }
  .l-header__right {
    box-shadow: 0 2px 15px #CECECE;
  }
  .l-header__arrow {
    font-size: 24px;
  }

  .l-header--menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left";
  }

  .l-menu__wrapper {
    max-width: 600px;
  }
}
@media screen and (min-width: 1440px) {
  .l-header {
    grid-template-columns: auto 375px;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
  }
  .l-header__left {
    z-index: 2;
    padding: 32px 0;
  }
  .l-header__right {
    box-shadow: 0 2px 15px #CECECE;
  }
  .l-header__arrow {
    font-size: 24px;
  }

  .l-header--menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left";
  }

  .l-menu__wrapper {
    max-width: 800px;
  }
}

/*# sourceMappingURL=menu.css.map */
