.badge--call{
    min-width:216px;
    padding: 18px 30px;
    color:white;
    border-radius:26px;
}

.badge--primary{
    @include actionGradiant;
}

.badge--count{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    width:25px;
    height:25px;
    border-radius:50%;
    font-size:12px;
    background-color: map-get($baseColor, primary);

    &::after{
        counter-increment:badgeCounter;
        content:counter(badgeCounter)
    }
}

.badge--state{
    top:13px;
    right:13px;
    padding:8px 15px;
    border-radius:2px;
    font-size:14px;
    font-weight:500;
}

.badge--green{
    background-color:map-get($baseColor, tertiary);
    color:darken(map-get($baseColor, tertiary), 40);
}
