.hook{
    &__title{

    }

    &__description{
        
    }
}

.hook--intro{
    .hook__title{
        margin:0 auto;
        width:86%;
        font-size:24px;
        text-align:center;
        margin-bottom:24px;
    }

    .hook__description{
        text-align:center;
        font-size:18px;
        font-weight:400;
    }
}