.icon-txt{
    display:flex;
    align-items:center;
}

.icon-txt--header{
    .icon-txt__icon{
        margin-right:18px;
    }

    .icon-txt__description{
        color: map-get($baseColor, footer);
        font-weight:500;
    }
}

.icon-txt--post{
    .icon-txt__icon{
        margin-right:28px;
    }

    .icon-txt__description{
        font-size:16px;
        font-weight:500;
    }
}