.spinner{
    display:flex;
    align-items:flex-end;
    height:100px;
    
    div, &::before, &::after{
        position:relative;
        width:42px;
        height:42px;
        border-radius:50%;
        animation-name:spinnerAnimation;
        animation-duration: 0.28s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: (0.175, 0.885, 0.32, 1.275)

    }


    &::before, &::after{
        display:block;
        content:'';
    }

    div{
        @include gradiant(map-get($baseColor, secondary));
    }

    div:not(:last-child){
        margin-right:15px;
    }

    div:nth-child(2){
        animation-delay: 0.1s;
    }

    div:nth-child(3){
        animation-delay: 0.2s;
    }

    div:nth-child(4){
        animation-delay: 0.3s;
    }
}


@keyframes spinnerAnimation{
    from{
        transform:translateY(1);
        opacity:0.3;
    }

    to{
        transform:translateY(-200px);
        opacity:0.8;
    }
}